.ipynb_checkpoints
COVID-19/lahbtablesweek46.xlsx
COVID-19/lainfections.csv
COVID-19/occurrences-alldata.csv
Wellbeing/wellbeing_data.csv
Wellbeing/wellbeing_data.xlsx
Elections/elections.csv
Elections/population.csv
Salary/2019.csv
Salary/occupation.csv
Salary/draft.xlsx
Salary/draft-2.xlsx
Salary/activity.csv